# Ansible
*.retry
vars/users.local.yml
vars/hardening.local.yml
vars/proxmox.local.yml
vars/secrets.local.yml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

